{% extends "main_base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" integrity="sha256-Ndk1ry+oGNFEaXt4kxlW/SYLbxat1O0DhaDd+lob0SY=" crossorigin="anonymous" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" integrity="sha256-BZ71u1P7NUocEN9mKkcAovn3q5JPm/r9xVyjWh/Kqrc=" crossorigin="anonymous" />
<style>
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
</style>
{% endblock %}

{% block navbar %}
<button class="w3-bar-item w3-button w3-padding-large" onclick="openTab('md_source')">Source</button>
<button class="w3-bar-item w3-button w3-padding-large" onclick="openTab('md_container')">Rendered</button>
{% endblock %}

{% block content %}
<div id="docapp"> <!-- Vue Wrapper for doc application -->
    <div class="w3-row-padding">
      <div id="md_source" class="w3-card w3-white w3-padding tab" style="display:none">
        <textarea v-model="content" style="width:100%;height:80vh;max-width:100%" {% if current_user.id != doc.user_id %}readonly{% endif %}>
        </textarea>
      </div>
      <div id="md_container" class="w3-margin-top tab">
        <textarea id="custom_css" v-model="css" style="width:100%;height:20vh;max-width:100%;margin-bottom:10px;display:none;">
        </textarea>
        <div id="md_out" class="w3-card w3-padding markdown-body document">
        </div>
        {% raw %}
        <v-style>{{ css }}</v-style>
        {% endraw %}
      </div>
    </div>
    <div id="document_bar" class="w3-card w3-theme-d3" style="position:fixed;left:21%;right:26%;bottom:0px;z-index:1;text-align:center">
      <input type="checkbox" v-model="autoscroll" class="w3-bar-item w3-check"><label>AutoScroll</label>
      <input type="number" v-model.number="slide" class="w3-bar-item w3-input" value="0" min="-1" style="display:initial;width:initial">
      <button class="w3-bar-item w3-button" onclick="toggleDisplay('custom_css')">CSS</button>
      <button class="w3-bar-item w3-button" onclick="elementPrint('md_out')">Print</button>
    </div>
</div> <!-- End Vue Wrapper -->
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.min.js" integrity="sha256-JdPG0DllQPmyIeUeYRUCvk6K3tY7C7RZyVKEcT56yzQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.js" integrity="sha256-q01RVaHUJiYq9aq0FwkI6GAmMtOmRgToK8aEHHm4Xl8=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/incrementaldom/0.5.1/incremental-dom-min.js"></script>
<script src="{{ url_for('static', filename='document.js') }}"></script>
<script>
// Set document_bar as collapsable
collapsables.push('document_bar');
// Setup Vue dynamic components
const docapp = new Vue({
  el: '#docapp',
  data: {
    content: "",
    isIdle: true,
    autoscroll: false,
    slide: 0,
    css: `{{ current_user.css or config['DEFAULT_DOC_CSS'] }}`,
  },
  // Components workaround for custom css
  // Vue does not allow rendering of side-effects
  // we are going to wrap it around because
  // we specifically want side-effects in this case
  components: {
    'v-style': {
      render: function (createElement) {
        return createElement('style', this.$slots.default);
      }
    },
  },
  // Computed data
  computed: {
    parsedDoc: function() { return md.parse(this.content); }
  },
  // Setup document updates
  created: function() {
    {% if current_user.id == doc.user_id %}
    this.debouncedUpdateDoc = _.debounce(this.updateDoc, 500);
    this.debouncedUpdateSlide = _.debounce(this.updateSlide, 500);
    {% endif %}
    this.debouncedUpdateCSS = _.debounce(this.updateCSS, 500);
  },
  // Event handlers
  methods: {
    {% if current_user.id == doc.user_id %}
    updateDoc: function() {
      socket.emit('document', this.content);
      this.isIdle = true;
    },
    updateSlide: function() {
      socket.emit('slide', this.slide);
    },
    {% endif %}
    updateCSS: function() {
      socket.emit('css', this.css);
    },
    renderDoc: function() {
      if (this.autoscroll) {
        this.$nextTick(function() {
          const container = document.getElementById("main_content");
          window.scroll({top: container.scrollHeight, behavior: 'smooth'});
        });
      }
      incrementalRender(this.parsedDoc, this.slide);
    }
  },
  watch: {
    content: function() {
      {% if current_user.id == doc.user_id %}
      this.isIdle = false;
      this.debouncedUpdateDoc();
      {% endif %}
      this.renderDoc();
    },
    slide: function() {
      {% if current_user.id == doc.user_id %}
      this.debouncedUpdateSlide();
      {% endif %}
      this.renderDoc();
    },
    css: function() {
      this.debouncedUpdateCSS();
    }
  },
});

// Base sets up socket connection
// Update entire document
socket.on('document', function(content) {
  if (docapp.isIdle) {
    docapp.content = content;
  }
});
// Slide number change, separate from document update
// to keep traffic size low
socket.on('slide', function(slide) {
  if (docapp.slide !== -1 && slide !== -1) {
    docapp.slide = slide;
  }
});
// CSS updates to sync between user sessions
socket.on('css', function(css) {
  docapp.css = css
});
</script>
{% endblock %}
