{% extends "main_base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css">
<style>
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
</style>
{% endblock %}

{% block navbar %}
<button class="w3-bar-item w3-button" onclick="openTab('showdown_source')">Source</button>
<button class="w3-bar-item w3-button" onclick="openTab('showdown_out')">Rendered</button>
{% endblock %}

{% block content %}
<div id="docapp"> <!-- Vue Wrapper for doc application -->
    <div class="w3-row-padding">
      <div id="showdown_source" class="w3-card w3-white w3-padding tab" style="display:none">
        <textarea v-model="doc" style="width:100%;height:80vh;max-width:100%" {% if current_user.id != doc.user_id %}readonly{% endif %}>
        </textarea>
      </div>
      <br>
      <div id="showdown_out" v-html="renderedDoc" class="w3-card w3-white w3-padding tab markdown-body">
      </div>
      <br>
    </div>
</div> <!-- End Vue Wrapper -->
{% endblock %}

{% block scripts %}
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script>
// Basic tab functionality
function openTab(tabid) {
    var tabs = document.getElementsByClassName("tab");
    for (var i = 0; i < tabs.length; i++) {
        tabs[i].style.display = "none"; 
    }
    document.getElementById(tabid).style.display = "block"; 
}
// Showdown markdown renderer
const converter = new showdown.Converter();

// Setup Vue dynamic components
const docapp = new Vue({
  el: '#docapp',
  data: {
    doc: "",
  },
  // Computed properties
  computed: {
    renderedDoc: function() {
      return converter.makeHtml(this.doc);
    }
  },
  {% if current_user.id == doc.user_id %}
  // Setup document updates
  created: function() {
    this.debouncedUpdateDoc = _.debounce(this.updateDoc, 500);
  },
  watch: {
    doc: function() {
      this.debouncedUpdateDoc();
    }
  },
  {% endif %}
  // Event handlers
  methods: {
    updateDoc: function() {
      socket.emit('document', this.doc);
    }
  }
});

// Base sets up socket connection
// Update entire document
socket.on('document', function(content) {
  docapp.doc = content;
});
</script>
{% endblock %}
