{% extends "base.html" %}
{% block body %}
<!-- Page Container -->
<div class="w3-row-padding" style="margin-top:10px">    
  <!-- Left Sidebar -->
  <div id="leftsidebar" class="w3-sidebar w3-card w3-animate-left" style="width:20%;left:0px;top:0px">
    <!-- Time -->
    <div class="w3-card w3-theme-d5">
      <div class="w3-container">
        <p id="current_time">Clock</p>
      </div>
    </div>
    <br>
    <!-- Profile -->
    <div class="w3-card w3-white">
      <div class="w3-container">
        <h4 class="w3-center">{{ current_user.username }}</h4>
        <a href="/" class="w3-button w3-block w3-round w3-theme-d4"><i class="material-icons">home</i>Home</a>
        <br>
        <a href="/logout" class="w3-button w3-theme w3-block w3-round">Logout</a>
        <p><i class="material-icons">info</i> Last Login: {{ current_user.last_login.strftime('%c') }}</p>
        <p><i class="material-icons">account_box</i> Joined: {{ current_user.joined.strftime('%c') }}</p>
      </div>
    </div>
    <br>
    <!-- Accordion -->
    <div class="w3-card">
      <div class="w3-white">
        <button onclick="toggleAccord('accord1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="material-icons">settings</i> Account</button>
        <div id="accord1" class="w3-hide w3-container">
          <a href="/account_reset" class="w3-button w3-section w3-orange w3-block w3-round">Reset Account</a>
          <a href="/account_delete" class="w3-button w3-section w3-red w3-block w3-round">Delete Account</a>
        </div>
        <button onclick="toggleAccord('accord2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="material-icons">contact_support</i> Issues</button>
        <div id="accord2" class="w3-hide w3-container">
          <p>For any issues please contact the deployment administrator.</p>
          <p>version: {{ config['VERSION'] }}</p>
        </div>
      </div>      
    </div>
    <br>
  </div> <!-- End Left Sidebar -->

  <div id="main_content" style="margin-left:21%;margin-right:26%">
     <div class="w3-bar w3-card w3-theme-d3">
      <button onclick="toggleSide('leftsidebar')" class="w3-bar-item w3-button w3-padding-large"><i class="material-icons">list</i></button>
      {% block navbar %}
      {% endblock %}
      <button onclick="toggleSide('chatapp')" class="w3-bar-item w3-button w3-right w3-padding-large"><i class="material-icons">toc</i></button>
     </div>
     <br>
    {% block content %}
    {% endblock %}
  </div>
  <!-- Vue Wrapper for chat content -->
  <div id="chatapp" class="w3-sidebar w3-card w3-animate-right" style="width:25%;right:0px;top:0px">
    {% raw %}
    <div class="w3-container" style="height:100%">
      <div id="chatbox" class="w3-panel w3-border" style="min-height:80%;overflow-y:scroll">
        <p v-for="m in messages" style="margin:0px;white-space:pre-wrap;"><b v-bind:class="{ 'w3-text-theme': current_username == m.username }">{{ m.username }}:</b> {{ m.msg }}</p>
      </div>
      <textarea id="chatinput" v-on:keypress.enter.exact.prevent="sendchat" class="w3-input w3-margin-bottom" style="max-width:100%" placeholder="message"></textarea>
    </div>
    {% endraw %}
  </div> <!-- End Vue Wrapper -->
</div> <!-- End Page Container -->
<script>
// Current Time
function update_time() {
  el = document.getElementById('current_time');
  el.innerHTML = new Date().toLocaleString();
}
setInterval(update_time, 1000);
// Sidebars
function toggleSide(sidebar) {
  main = document.getElementById("main_content");
  sideb = document.getElementById(sidebar);
  if (sidebar == "leftsidebar") {
    if (sideb.style.display == "none") {
      main.style.marginLeft = "21%";
      sideb.style.display = "block";
    } else {
      main.style.marginLeft = "1%";
      sideb.style.display = "none";
    }
  } else {
    if (sideb.style.display == "none") {
      main.style.marginRight = "26%";
      sideb.style.display = "block";
    } else {
      main.style.marginRight = "1%";
      sideb.style.display = "none";
    }
  }
}
// Accordion
function toggleAccord(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}
</script>
<!-- Dynamic Block -->
{% block dynamic %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
{% if config['DEBUG'] %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endif %}
<script>
// Setup socket connection
const socket = io({query: { 'docid': {{ doc.id if doc else -1 }} },
                   autoConnect: false});
socket.on('connect', function() {
  console.log("Socket connected.")
});
// Setup Vue dynamic components
const chatapp = new Vue({
  el: '#chatapp',
  data: {
    current_username: "{{ current_user.username }}",
    messages: [] // chat messages
  },
  // Event handlers
  methods: {
    sendchat: function(event) {
      if (/\S/.test(event.target.value)) {
        payload = {username: '{{ current_user.username }}',
                   msg: event.target.value};
        socket.emit('chat', payload);
        event.target.value = "";
      }
    },
    addmessage: function(msg) {
      this.messages.push(msg);
      this.$nextTick(function() {
        var container = this.$el.querySelector("#chatbox");
        container.scroll({top: container.scrollHeight, behavior: 'smooth'});
      });
    }
  }
});
// Handle incoming socket messages
socket.on('chat', chatapp.addmessage);
</script>
{% endblock %}

{% block scripts %}
{% endblock %}

<script>
// Finally connect the socket
socket.connect();
</script>

{% endblock %}
